<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('Authentication') }}
        {{ encore_entry_link_tags('Label') }}
        {{ encore_entry_link_tags('Button') }}
        {{ encore_entry_link_tags('RegistrationForm') }}
        {{ encore_entry_link_tags('LoginForm') }}
        {{ encore_entry_link_tags('Authentication') }}
        {{ encore_entry_link_tags('BackToIndex') }}
        {{ encore_entry_link_tags('Input') }}
        {{ encore_entry_link_tags('Card') }}
        {{ encore_entry_link_tags('Logo') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="index"></div>
{% endblock %}
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('authentication') }}
{% endblock %}
</html>