<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('Button') }}
        {{ encore_entry_link_tags('Comments') }}
        {{ encore_entry_link_tags('Logo') }}
        {{ encore_entry_link_tags('Layout') }}
        {{ encore_entry_link_tags('Toolbar') }}
        {{ encore_entry_link_tags('Modal') }}
        {{ encore_entry_link_tags('Backdrop') }}
        {{ encore_entry_link_tags('Upload') }}
        {{ encore_entry_link_tags('Input') }}
        {{ encore_entry_link_tags('Label') }}
        {{ encore_entry_link_tags('BackToIndex') }}
        {{ encore_entry_link_tags('PostWidgetToolbar') }}
        {{ encore_entry_link_tags('CommentForm') }}
        {{ encore_entry_link_tags('CommentContent') }}
        {{ encore_entry_link_tags('Avatar') }}
        {{ encore_entry_link_tags('PostComment') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
{% block javascripts %}
    <script type="text/javascript">
        const user = '{% if username is defined %}{{ username }}{% else %}{% set username = null %}{% endif %}';
    </script>
{% endblock %}
</html>