{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('Post') }}
    {{ encore_entry_link_tags('Posts') }}
    {{ encore_entry_link_tags('PostPage') }}
    {{ encore_entry_link_tags('PostToolbar') }}
    {{ encore_entry_link_tags('Card') }}
    {{ encore_entry_link_tags('Label') }}
{% endblock %}
{% block body %}
    <div id="index"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}
