{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('PostPageContainer') }}
    {{ encore_entry_link_tags('PostPage') }}
    {{ encore_entry_link_tags('Authentication') }}
    {#    add css for back to main page#}
{% endblock %}
{% block body %}
    <div id="index"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        const post = '{% if post is defined %}{{ post }}{% else %}{% set post = null %}{% endif %}';
    </script>
    {{ encore_entry_script_tags('post_page') }}
{% endblock %}
