{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('ProfilePage') }}
    {{ encore_entry_link_tags('Avatar') }}
    {{ encore_entry_link_tags('Label') }}
{% endblock %}
{% block body %}
    <div id="index"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile_page') }}
{% endblock %}
